<% provide(:title, "Finished at last!") %>
<h1>Finished</h1>
<p>
    
    <h2>Impression of Rails</h2>
    <ol>
        <li>Rails seems like a great framework to get an MVP up quickly</li>
        <li>A good course and intro to Rails. Last few chapters were tough</li>
    </ol>
    
    <h2>Suggestions for the course</h2>
    <ol>
        <li>
            It would have been nice to have some discussion around the future of Rails & server-side rendered applications in light of newer and faster frameworks (Django, Node-Express, Go) and single page applications.
        </li>
        <li>
            Access to Michael Hartl's video lectures that accompany this course would have been benficial as well
        </li>
    </ol>
</p>